.contServicios{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.921); */
    background-image: url('../../../images/ventaTecnology.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Chakra Petch';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 190px;
}
.contTittleS{
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}
.contTittleS h1{
    font-size: 90px;
    -webkit-text-stroke: 2px black;
}
.contCardsS{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
}
.contCardsS .card {
    position: relative;
    width: 300px;
    height: 350px; 
}
.contCardsS .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.contCardsS .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.contCardsS .card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contCardsS .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.contCardsS .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.contCardsS .card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.contCardsS .card .back .link a{
    color: white;
    text-decoration: none;
}
.contCardsS .card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.contCardsS .card .back p{
    letter-spacing: 1px;
}

.contCardsS .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.contCardsS .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}