/* variables de colores */
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

.services {
    font-family: 'Chakra Petch';
}
.services h2 {
    margin-bottom: 5rem;
    font-family: 'Chakra Petch';
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-family: 'Chakra Petch';
    font-size: 2.6rem;
}

.services-box p {
    font-family: 'Chakra Petch';
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

@media (max-width: 991px) {
    .services {
        padding-bottom: 7rem;
    }
}

@media (max-width: 768px){
    .services h2 {
        margin-bottom: 3rem;
    }
}