footer{
    background-color: #000000ff;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
footer .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: 'Chakra Petch';
}