/* variables de colores */
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  text-transform: capitalize;
  transition: all .2s linear;
} */

*::selection{
  background: var(--main-color);
  color: var(--bg-color);
}
/* html{
  overflow-x: hidden;
} */
.headerProfileUser {
  /* position: absolute; */
  top: 0; left: 0;
  z-index: 1000;
  height: 100vh;
  margin-left: 6rem;
  width: 33rem;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.headerProfileUser .user img{
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: .7rem solid var(--main-color);
}

.headerProfileUser .user .name {
  font-size: 3.5rem;
  color: var(--text-color);
}
.headerProfileUser .user .post {
  font-size: 2rem;
  color: var(--text-color);
}
.headerProfileUser .navbar{
  width: 100%;
}
.headerProfileUser .navbar ul{
  list-style: none;
  padding: 1rem 3rem; 
}
.headerProfileUser .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 5rem;
}
.headerProfileUser .navbar ul li a:hover {
  background-color: var(--main-color);
}

#menu{
  position: fixed;
  top: 2rem; right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}


/*MEDIA QUERY*/

/*======= queda pendiente =======*/

/* @media (max-width:991px) {
  .headerProfileUser {
    left: -120%;
  }
  #menu {
    display: block;
  }

  .headerProfileUser.toggle{
    left: 0%;
  }
} */