.perfil-usuario {
    background: linear-gradient(rgba(93 24 220), black);
}
.perfil-usuario img {
    width: 100%;
    height: 100%;
}
.perfil-usuario .contenedor-perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.perfil-usuario .portada-perfil{
    display: block;
    background-image: url('../../../images/perfiles/girlProfile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem;
    border-radius: 0 0 12px 12px;
    margin-bottom: .5rem;
}
.perfil-usuario .avatar-perfil{
    display: block;
    width: 230px;
    height: 230px;
    background-color: #D9DCF1;
    position: absolute;
    bottom: -65px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
}
.perfil-usuario .datos-perfil {
    position: absolute;
    display: block;
    width: calc(100% - 230px - 8rem);
    right: 0;
    bottom: 0;
    color: #fff;
    text-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
}
.perfil-usuario .titulo-usuario{
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: .75rem;
}
.perfil-usuario .bio-usuario {
    font-size: 1.1em;
    margin-bottom: .75rem;
}
.perfil-usuario .lista-perfil{
    list-style: none;
}
.perfil-usuario .lista-perfil li{
    display: inline-block;
    font-size: 1.1em;
    margin-right: 1rem;
}
.perfil-usuario .opcciones-perfil {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.perfil-usuario .opcciones-perfil button {
    border: 0;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}
.perfil-usuario .menu-perfil ul{
    display: flex;
    justify-content: center;
    margin: 15px;
    list-style: none;
    margin-left: calc(200px + 8rem);
    width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li {
    margin-right: 1.5rem;
}
.perfil-usuario .menu-perfil a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 200ms;
    color: #fff;
}
.perfil-usuario .menu-perfil a:hover {
    background-color: rgba(93 24 220);
}

/* ==========Temporal==========*/
.contPublicproducts{
    width: 100%;
    height: 64vh;
}