/* variables de colores */
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  text-transform: capitalize;
  transition: all .2s linear;
} */

*::selection{
  background: var(--main-color);
  color: var(--bg-color);
}
/* html{
  overflow-x: hidden;
} */

.body-profile {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 29px;
  padding-left: 5rem;
}
.btnprofileperson {
  padding: .7rem 3rem;
  background: #333;
  color: var(--text-color);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  transition: .3s all;
}
.btnprofileperson i {
  padding: 0 .5rem;
  font-size: 1.8rem;
}
.btnprofileperson:hover {
  background-color: var(--main-color);
}
.heading{
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: .1rem solid #fff4;
  color: #fff;
}
.headerProfileUser {
  /* position: absolute; */
  top: 0; left: 0;
  /* z-index: 1000; */
  height: 100%;
  margin-left: 6rem;
  width: 33rem;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.headerProfileUser .user img{
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: .7rem solid var(--main-color);
}

.headerProfileUser .user .name {
  font-size: 3.5rem;
  color: var(--text-color);
}
.headerProfileUser .user .post {
  font-size: 2rem;
  color: var(--text-color);
}
.headerProfileUser .navbar{
  width: 100%;
}
.headerProfileUser .navbar ul{
  list-style: none;
  padding: 1rem 3rem; 
}
.headerProfileUser .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #333;
  color: var(--text-color);
  font-size: 2rem;
  border-radius: 5rem;
}
.headerProfileUser .navbar ul li a:hover {
  background-color: var(--main-color);
}
.infooptionsProfile {
  width: 80%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.infooptionsProfile::-webkit-scrollbar {
  display: none;
}

.homeprofileperson {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 15rem;
  width: 80%;
}
.homeprofileperson h3 {
  font-size: 2.5rem;
  color: var(--text-color);
}
.homeprofileperson h1{
  font-size:  5rem;
  color: var(--text-color);
}
.body-profile .homeprofileperson{
  min-height: 100vh;
  padding: 5rem;
}

.homeprofileperson p{
  font-size:  2rem;
  padding: 1rem;
  color: var(--text-color);
}
.homeprofileperson h1 span {
  color: var(--main-color);
}
.aboutProf .rowProf{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.aboutProf .rowProf .infoProf {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.aboutProf .rowProf .infoProf h3 {
  font-size: 2rem;
  color: var(--main-color);
  padding: 1rem 0;
  font-weight: normal;
}

.aboutProf .rowProf .infoProf h3 span {
  color: var(--text-color);
  padding: 0 .5rem;
}

.aboutProf .rowProf .counterprofileperson {
  flex: 1 1 48rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutProf .rowProf .counterprofileperson .boxprofileperson {
  width: 20rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.aboutProf .rowProf .counterprofileperson .boxprofileperson span {
  font-size: 4rem;
  color: var(--main-color);
}
.aboutProf .rowProf .counterprofileperson .boxprofileperson h3{
  font-size: 2rem;
  color: var(--main-color);
}
/*MEDIA QUERY*/

/*======= queda pendiente =======*/

/* @media (max-width:991px) {
  .headerProfileUser {
    left: -120%;
  }
  #menu {
    display: block;
  }

  .headerProfileUser.toggle{
    left: 0%;
  }
} */